body{
    /* background-image: url('https://swall.teahub.io/photos/small/290-2909047_hardcore-rock-phone-wallpaper-data-src-music-instruments.jpg');
    background-size: cover;
    background-position: center;
     */
    background-color: rgb(131, 71, 36);
}